services:
  frontend:
    build:
      context: ./frontend
    container_name: nextjs
    restart: always
    ports:
      - "3000:3000"

  backend:
    build:
      context: ./backend
    container_name: strapi
    restart: always
    ports:
      - "1337:1337"
    environment:
      DATABASE_CLIENT: "sqlite"
      DATABASE_FILENAME: "/data/data.db" # Using a path in the container to match volume mount
      NODE_ENV: "production"
    volumes:
      - strapi-data:/data


  nginx:  # Moved inside the services block
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt

volumes:
  strapi-data:
