services:
  frontend:
    build:
      context: ./frontend
    container_name: nextjs
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    container_name: strapi
    restart: always
    ports:
      - "1337:1337"
    environment:
      DATABASE_CLIENT: "sqlite"
      DATABASE_FILENAME: "/srv/data.db" # Specify the path in the container
      NODE_ENV: "production"
    volumes:
      - ./strapi-app:/srv/app
      - ./data:/srv/app/.tmp 

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  strapi-data:
    driver: local
